a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Georgia', 'Monaco', 'Gill Sans', 'Optima';
    background-color: hsl(33, 35%, 94%);
    margin: 0;
}

.navbar {
    font-family: 'Georgia', 'Monaco', 'Gill Sans', 'Optima';
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 15vh;
    background-color: hsl(34, 67%, 86%);
    width: 100%;
}

.ref {
    font-size: 1.7rem;
}