.heading {
    font-size: 1.8rem;
    padding: 3rem 2rem 0rem 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
    padding: 2rem;
}

.subheading {
    font-weight: bold;
}

.overview {
    min-width: 60%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
}

.entry {
    justify-content: center;
    margin: 0.5rem 1rem 0.5rem 1rem;
    word-wrap: break-word;
}

@media only screen and (max-width: 1000px) {
    .content {
        font-size: 1rem;
    }
    .overview {
        font-size: 0.8rem;
    }
}