#tag_selector {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    margin: 2rem 1rem 2rem 1rem;
}

#tag_selector button {
    width: 100%;
    min-height: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}


.active {
    background-color: black;
    color: white;
}

.passive {
    background-color: white;
    color: black;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    row-gap: 3vh;
}

.post {
    display: flex;
    background-color: hsl(38, 42%, 87%);
    min-height: 4rem;
    border-radius: 10px;
    column-gap: 3%;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.post .preview {
    display: flex;
    align-items: center;
    width: 19%;
    background-color: hsl(38, 42%, 93%);
    border-radius: 10px;
    margin: 10px;
}

.post .preview img {
    width: 100%;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    row-gap: 1rem;
}

.title {
    font-size: 2rem;
    margin-top: 1rem;
}

.date {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.tags {
    font-size: 1rem;
    width: 35%;
    margin: 1rem;
}


@media (max-width: 1000px) {
    #tag_selector {
        grid-template-columns: repeat(2,1fr);
    }

    .post .preview {
        width: 35%;
    }

    .info {
        width: 35%;
    }

    .title {
        font-size: 1.5rem;
    }

    .tags {
        width: 24%;
    }

    .title {
        font-size: 1.1rem;
    }

    .date, .tags {
        font-size: 0.7rem;
    }

}